<h2 id="supported-by">Supported By</h2>
<section class="sponsor__list">
  {% for sponsor in page.config.sponsors %}
    <section class="sponsor__item">
      <h3>{{ sponsor.name }}</h3>
      {% if sponsor.url %}
        <a class="sponsor__link" title="{{ sponsor.name }}" href="{{ sponsor.url }}" target="_blank">
          <img src="{{ sponsor.avatar | trim("/") | url }}" alt="{{ sponsor.name }}"/>
        </a>
      {% else %}
        <a class="sponsor__link" title="{{ sponsor.name }}">
          <img src="{{ sponsor.avatar | trim("/") | url }}" alt="{{ sponsor.name }}"/>
        </a>
      {% endif %}
      <p class="sponsor__description">
        {{ sponsor.description }}
      </p>
    </section>
  {% endfor %}
</section>
